/* GLOBAL */
::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 10px;
}

::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar:horizontal {
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #26007e;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3f3f3f;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Assistant", sans-serif;
  box-sizing: border-box;
}

.replacement-header {
  width: 100%;
  height: 60px;
  user-select: none;
}

/* END GLOBAL */

/* HEADER MAIN INDEX */

.logo-header {
  padding-top: 7px;
  margin-left: 150px;
}

.main-index {
  background: #ffff;
  width: 100%;
  position: absolute;
  z-index: 10;
  text-align: center;
  border-bottom: 1px black solid;
  position: fixed;
  user-select: none;
  width: 100%;
  top: 0;
}

.main-index ul {
  list-style: none;
  overflow: hidden;
}

.main-index ul li {
  float: right;
  padding: 0;
}

.main-index ul li a {
  display: block;
  padding: 18px 48px;
  font-size: 18px;
  color: #26007e;
  text-decoration: none;
}

.main-index ul li a:hover {
  color: #5e00ff;
  text-decoration: underline;
}

.help.header {
  text-align: center;
}

.logo-header-help {
  margin: 0;
}

/* END HEADER MAIN INDEX */

/* HEADER GLOBAL CLIENT */

.header {
  background: #ffff;
  text-align: center;
  z-index: 100;
  border-bottom: 1px black solid;
  position: fixed;
  width: 100%;
  user-select: none;
  overflow: hidden;
  max-height: 60px;
  top: 0;
}

.container-header-client {
  width: 95%;
  margin: auto;
}

.btn-main {
  float: left;
  width: 20%;
  text-align: left;
  padding-top: 9px;
}

.btn-main label {
  color: rgb(0, 0, 0);
  font-size: 34px;
  cursor: pointer;
}

.logo-header-client {
  padding-top: 7px;
}

.main-c {
  float: right;
  width: 20%;
  text-align: right;
}

.main-c a {
  display: inline-block;
  padding: 0 15px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: all 0.3s ease;
  border-bottom: 3px solid transparent;
  font-size: 30px;
  padding-top: 13px;
}

.main-c a:hover {
  border-bottom: 3px solid #5e00ff;
}

/* LATERAL MAIN CLIENT */

.container-main {
  position: fixed;
  user-select: none;
  z-index: 110;
  width: 100%;
  top: 0;
  overflow: auto;
  left: 0;
  transition: all 500ms ease;
  visibility: hidden;
}

#btn-main:checked~.container-main {
  opacity: 1;
  visibility: visible;
}

.cont-main {
  max-width: 17vw;
  background: #aaaaaaea;
  height: 100vh;
  position: relative;
  transition: all 500ms ease;
  transform: translateX(-100%);
}

#btn-main:checked~.container-main .cont-main {
  transform: translateX(0%);
}

.cont-main nav {
  transform: translateY(15%);
}

.cont-main nav a {
  display: block;
  text-decoration: none;
  padding: 1.1vw;
  color: #000000;
  border-left: 5px solid transparent;
  transition: all 400ms ease;
  padding: 1.1vw;
  font-size: 1.1vw;
}

.cont-main nav a:hover {
  border-left: 5px solid #5e00ff;
  background: #00000028;
}

.cont-main label {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  font-size: 2.4vw;
}

.logo-main-client {
  position: absolute;
  top: 15px;
  left: 35%;
  width: 5vw;
}

/* END HEADER AND MAIN GLOBAL CLIENT */

/* BOX LOGIN INDEX */

#login-box-index {
  user-select: none;
  padding: 4% 0;
  background-color: #ffff;
  text-align: center;
  overflow: hidden;
  margin-top: 60px;
}

#login-box-index section {
  float: left;
  margin-left: 15%;
  margin-top: 3%;
}

#login-image-index {
  max-height: 25vw;
  float: right;
  margin-right: 20%;
}

#first-index-text {
  font-size: 4vw;
  color: #5e00ff;
}

#second-index-text {
  font-size: 1.7vw;
}

/* BUTTON SIGNUP */

#btn-signup {
  text-decoration: none;
  user-select: none;
  background-color: #26007e;
  border-radius: 1.7vw;
  padding: 0.7vw 2.5vw;
  margin-right: 0.5vw;
  font-size: 1.5vw;
  color: #ffff;
  font-weight: bold;
  cursor: pointer;
}

#btn-signup:hover {
  background-color: #5e00ff;
  transition: 0.5s;
}

/* BUTTON LOGIN */

#btn-login {
  text-decoration: none;
  user-select: none;
  border: 0.3vw #5e00ff solid;
  border-radius: 1.7vw;
  padding: 0.4vw 1.4vw;
  margin-left: 0.5vw;
  font-size: 1.5vw;
  color: #5e00ff;
  font-weight: bold;
  cursor: pointer;
}

#btn-login:hover {
  background-color: #5e00ff;
  transition: 0.5s;
  color: #ffff;
}

/* END BOX LOGIN INDEX */

/* BOX SIGNUP INDEX */

#signup-box-index {
  text-align: center;
  padding: 5% 0;
  user-select: none;
  overflow: hidden;
  background: linear-gradient(to bottom left, #26007e, #070016);
}

#signup-image-index {
  max-height: 25vw;
  float: left;
  margin-left: 20%;
}

#signup-box-index section {
  float: right;
  margin-right: 25%;
  padding-top: 7%;
}

#third-index-text {
  font-size: 2vw;
  color: #ffff;
}

/* BUTTON SIGNUP */

#btn-signup-second {
  text-decoration: none;
  background-color: #ffff;
  padding: 0.6vw 1.2vw;
  border-radius: 1vw;
  font-size: 1.5vw;
  color: #5e00ff;
  font-weight: bold;
  cursor: pointer;
}

#btn-signup-second:hover {
  background-color: #5e00ff;
  transition: 0.5s;
  color: #ffff;
}

/* END BOX SIGNUP INDEX */

/* FOOTER */

footer {
  background-color: black;
  text-align: center;
  padding: 2vw 0;
  min-height: 60px;
}

footer a {
  font-size: 35px;
  padding: 0 7px;
  text-decoration: none;
  color: #ffff;
}

.down-footer {
  min-height: 900px;
}

/* END FOOTER */

/* BOX SIGNUP CLIENT */

#signupclient-box {
  display: block;
  text-align: center;
  overflow: hidden;
  background-color: white;
  margin-top: 60px;
  padding: 3% 0;
}

#signupclient-box section {
  float: right;
  width: 47%;
}

.signupclient-title {
  font-size: 2.5vw;
  color: #5e00ff;
}

#image-signupclient {
  max-height: 28vw;
  float: left;
  margin-left: 10%;
  margin-top: 5%;
  user-select: none;
}

#signupclient-text {
  font-size: 1.3vw;
  font-weight: lighter;
  margin: 10px 0;
}

#signupclient-text a {
  text-decoration: none;
}

#signupclient-text a:hover {
  color: #5e00ff;
  text-decoration: underline 1px #5e00ff solid;
}

/* FORMS */

.form {
  background: hsl(266, 100%, 97%);
  padding: 0 1.5vw;
  border-radius: 1vw;
  margin-bottom: 0.8vw;
  border: 0;
  font-size: 1.4vw;
  font-weight: lighter;
  user-select: none;
  outline: 0;
}

#form-signupclient {
  width: 27vw;
  height: 2.7vw;
}

#form-signupclient-n-document {
  margin-bottom: 0;
  width: 19.5vw;
  height: 2.7vw;
  margin-left: 0.5vw;
}

#only-numbers-text {
  color: #5e00ff;
  font-size: 0.8vw;
  user-select: none;
  margin-right: 3vw;
}

/* SELECT DOCUMENT */

#form-signupclient-t-document {
  height: 2.7vw;
  width: 7vw;
  margin-bottom: 0;
  appearance: none;
  cursor: pointer;
}

/* BUTTON SIGNUP CLIENT */

#signupclient-btn {
  border: 0;
  background-color: #5e00ff;
  border-radius: 1vw;
  height: 3.3vw;
  width: 27vw;
  font-size: 1.4vw;
  color: #ffff;
  font-weight: bold;
  margin-top: 1.6vw;
  cursor: pointer;
}

#signupclient-btn:hover {
  background-color: #26007e;
  transition: 0.5s;
  color: #ffff;
}

/* END BOX SIGNUP CLIENT */

/* BOX LOGIN CLIENT */

#loginclient-box {
  display: block;
  text-align: center;
  overflow: hidden;
  background-color: white;
  padding: 10vw 0;
}

#loginclient-box section {
  float: left;
  width: 44%;
  margin-left: 9%;
}

#image-loginclient {
  max-height: 21vw;
  float: right;
  user-select: none;
  margin-right: 9%;
}

/* END BOX LOGIN CLIENT */

/* BOX DETAIL PRODUCT */

#box-detail-product {
  background-color: rgb(241, 241, 241);
  margin: 70px 14%;
  display: grid;
  grid-template-columns: 65% 35%;
  padding: 1.5vw;
  border: 1px rgb(197, 197, 197) solid;
}

.text-b-detail-product {
  font-size: 1.5vw;
}

.text-p-detail-product {
  padding-top: 0.3vw;
  font-weight: lighter;
  font-size: 1.3vw;
}

/* IMAGES */

#images-detail-product {
  overflow: hidden;
  display: grid;
  padding-bottom: 1.2vw;
  grid-template-columns: 34% 64%;
  border-bottom: 1px rgb(197, 197, 197) solid;
}

#column-images-detail {
  overflow: hidden;
  text-align: center;
  display: grid;
  gap: 5px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

#column-images-detail img {
  width: 7vw;
  cursor: pointer;
}

.slider-images-detail {
  position: relative;
  list-style: none;
  padding: 0 3.5vw;
}

.slider-images-detail img {
  position: absolute;
  width: 22.3vw;
  max-height: 22.7vw;
  opacity: 0;
}

.slider-images-detail input[type="radio"] {
  position: relative;
  z-index: 50;
  width: 1.5vw;
  height: 1.5vw;
  margin: 0 0.3vw;
  display: none;
}

.slider-images-detail input[type="radio"]:checked~img {
  opacity: 1;
  z-index: 1;
}

/* PRICE */

#price-detail-product {
  padding: 0 0.6vw 1.1vw 0.6vw;
  text-align: center;
  font-weight: lighter;
  font-size: 1.3vw;
  border-left: 1px rgb(197, 197, 197) solid;
  border-bottom: 1px rgb(197, 197, 197) solid;
}

.select-detail-product {
  background: none;
  border: 0;
  outline: 0;
  font-size: 1.2vw;
  font-weight: lighter;
  user-select: none;
}

/* TEXT OF PRICE */

#name-product-detail {
  font-weight: bold;
  font-size: 1.7vw;
  padding-bottom: 0.7vw;
}

#price-text-detail {
  color: #5e00ff;
  padding-bottom: 0.7vw;
  font-weight: bold;
  font-size: 1.7vw;
}

#free-shipping-text-detail {
  padding-bottom: 0.7vw;
  color: rgb(100, 165, 3);
  user-select: none;
}

#s-a-c-text-detail {
  padding-bottom: 0.3vw;
}

/* BTN ADD TO CART */

#btn-add-cart {
  border: 0;
  background-color: #5e00ff;
  border-radius: 0.7vw;
  height: 3vw;
  width: 14vw;
  margin: 0.5vw 0;
  font-size: 1.4vw;
  color: #ffff;
  font-weight: bold;
  cursor: pointer;
}

#btn-add-cart:hover {
  background-color: #26007e;
  transition: 0.5s;
}

/* SPECS */

#specs-detail-product {
  padding: 0.6vw 0.8vw;
  text-align: justify;
}

/* PAYMENT */

#payment-detail-product {
  padding: 0.6vw;
  text-align: center;
  border-left: 1px rgb(197, 197, 197) solid;
}

#payment-detail-product img {
  padding: 1vw 0;
  user-select: none;
  width: 20vw;
}

/* DESCRIPTION */

#description-detail-product {
  padding: 0.6vw 0.8vw;
  text-align: justify;
  border-top: 1px rgb(197, 197, 197) solid;
  grid-column: 1 / 3;
}

/* END BOX DETAIL PRODUCT */

/* CATEGORY HOME - PHONES, COMPUTERS */

#margin-category-box {
  margin-top: 70px;
}

.title-category {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 42px;
  margin-bottom: 3px;
}

.grid-category {
  margin: 0 70px 70px 70px;
  padding: 0 9vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  gap: 2vw;
  grid-auto-rows: minmax(256px, auto);
}

.card {
  overflow: hidden;
  min-width: 256px;
  max-width: 256px;
  border: 1px rgb(197, 197, 197) solid;
  background: rgb(239, 239, 239);
  transition: all 200ms ease;
  padding: 20px;
  text-align: center;
  position: flex;
}

.card:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-1%);
}

.box-image-category {
  display: flex;
  border: 1px rgb(197, 197, 197) solid;
  width: 215px;
  height: 215px;
  overflow: hidden;
  justify-content: center;
  background-color: #ffff;
}

.card img {
  max-width: 213px;
  max-height: 213px;
  margin: auto;
  display: block;
  user-select: none;
}

.card p {
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: lighter;
}

.show-more-category {
  margin-top: 9px;
}

/* BUTTON VER MÃS CATEGORY */

.showmore-category-btn {
  user-select: none;
  text-decoration: none;
  background-color: #5e00ff;
  border-radius: 8px;
  padding: 2px 20px;
  font-size: 17px;
  color: #ffff;
  font-weight: bold;
  cursor: pointer;
}

.showmore-category-btn:hover {
  background-color: #26007e;
  transition: 0.5s;
}

/* END CATEGORY */

/* SETTINGS PROFILE */

#settings-profile {
  display: block;
  text-align: center;
  width: 37%;
  margin: auto;
  margin-top: 5vw;
  margin-bottom: 6vw;
}

.settingsprofile-btn {
  background-color: #5e00ff;
  border: 0;
  border-radius: 0 0 1vw 1vw;
  height: 3.3vw;
  width: 27vw;
  font-size: 1.4vw;
  color: #ffff;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 0.7vw;
}

.settingsprofile-btn:hover {
  background-color: #26007e;
  transition: 0.5s;
  color: #ffff;
}

#confirm-password-profile {
  background: #ffff;
  border: 0.3vw #5e00ff solid;
  border-bottom: 0;
  font-size: 1vw;
  width: 27vw;
  text-align: center;
  padding: 2px 0;
  color: #5e00ff;
  font-weight: bold;
  border-radius: 1vw 1vw 0 0;
  user-select: none;
  margin-top: 1.8vw;
  outline: 0;
}

#backprofile-text {
  text-decoration: none;
  color: #5e00ff;
  font-size: 1.2vw;
}

#backprofile-text:hover {
  color: #26007e;
  text-decoration: underline;
}

/* END SETTINGS PROFILE */

/* SHIPPING HISTORY */

#box-shopping-history {
  display: grid;
  grid-auto-rows: minmax(150px, auto);
  gap: 32px;
  margin: 0 14%;
  margin-bottom: 7vw;
}

.status-center-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-align: center;
  user-select: none;
}

.information-center-box {
  display: flex;
  align-items: center;
}

.information-box-history {
  border: 1px rgb(197, 197, 197) solid;
  background: rgb(239, 239, 239);
  display: grid;
  grid-template-columns: 13% 62% 25%;
  max-height: 150px;
  overflow: hidden;
}

.information-history {
  padding-left: 32px;
}

.information-history p {
  font-size: 20px;
  font-weight: lighter;
}

.image-history {
  min-width: 148px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-history img {
  max-width: 117px;
  max-height: 117px;
  user-select: none;
  background-color: #ffff;
  border: 1px rgb(197, 197, 197) solid;
}

.status-processing {
  color: #ff6600;
}

.status-ontheway {
  color: #18ad04;
}

.status-delivered {
  color: #5e00ff;
}

/* END SHIPPINGS HISTORY */

/* SHOPPING CART */

#container-shopping-cart {
  margin: 0 14%;
  display: grid;
  grid-template-columns: 63% 35%;
  gap: 2%;
}

.box-information-cart {
  grid-template-rows: minmax(150px, auto);
}

.product-cart {
  border: 1px rgb(197, 197, 197) solid;
  background: rgb(239, 239, 239);
  margin-bottom: 3%;
  display: grid;
  grid-template-columns: 21% 60% 19%;
  padding: 15px 0;
  max-height: 150px;
  overflow: hidden;
}

.product-cart p {
  font-size: 20px;
  font-weight: lighter;
}

.image-shopping-cart {
  min-width: 148px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-shopping-cart img {
  max-width: 117px;
  user-select: none;
  background-color: #ffff;
  border: 1px rgb(197, 197, 197) solid;
}

.information-shopping-cart {
  padding-left: 32px;
}

.information-shopping-cart h2 {
  padding-bottom: 20px;
}

.amount-shopping-cart {
  border-left: 1px rgb(197, 197, 197) solid;
  text-align: center;
  padding-top: 17px;
}

.amount-shopping-cart p {
  padding-top: 15px;
  user-select: none;
}

.amount-shopping-cart span {
  cursor: pointer;
}

.amount-shopping-cart span:hover {
  color: #26007e;
}

.total-value-cart {
  border: 1px rgb(197, 197, 197) solid;
  background: rgb(239, 239, 239);
  min-height: 150px;
  max-height: 320px;
  text-align: center;
  padding: 20px;
}

.total-value-cart h2 {
  padding-bottom: 15px;
}

.total-value-cart p {
  font-size: 20px;
  font-weight: lighter;
  padding-bottom: 15px;
}

.price-total-value {
  padding-top: 15px;
}

.btn-go-to-pay {
  background: #5e00ff;
  color: #ffff;
  border: 0;
  border-radius: 14px;
  height: 40px;
  font-weight: bold;
  font-size: 17px;
  width: 110px;
  cursor: pointer;
}

.btn-go-to-pay:hover {
  background: #26007e;
  transition: 0.5s;
}

/* END SHOPPING CART */

/* PROFILE CLIENT */

.box-profile {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  overflow: hidden;
}

.card-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 860px;
}

.image-box {
  width: 27%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding: 16px;
  box-shadow: 15px 0 35px rgba(0, 0, 0, 0.1),
    0 -15px 35px rgba(0, 0, 0, 0.1),
    0 15px 35px rgba(0, 0, 0, 0.1);
}

.image-box img {
  max-width: 200px;
}

.information-profile {
  position: relative;
  max-height: 500px;
  text-align: center;
  padding: 40px;
  padding-top: 20px;
  box-shadow: -15px 0 35px rgba(0, 0, 0, 0.1),
    0 -15px 35px rgba(0, 0, 0, 0.1),
    0 15px 35px rgba(0, 0, 0, 0.1);
  transition: .5s;
}

.information-profile hr {
  margin: 15px 0;
}

.information-profile h3 {
  font-style: italic;
}

.information-profile p {
  font-size: 20px;
  font-weight: lighter;
  text-align: left;
  padding-bottom: 10px;
}

.btn-sesion-profile {
  padding: 10px 40px;
  text-decoration: none;
  color: #fff;
  user-select: none;
  background-color: #26007e;
  font-weight: bold;
  font-size: 21px;
  border-radius: 16px;
  margin-bottom: 50px;
}

.btn-sesion-profile:hover {
  background: #5e00ff;
  transition: 0.5s;
}

.btn-settings-profile {
  padding: 6px 10px;
  text-decoration: none;
  border: 4px #5e00ff solid;
  background-color: #fff;
  color: #5e00ff;
  font-weight: bold;
  font-size: 21px;
  border-radius: 16px;
  margin-left: 10px;
}

.btn-settings-profile:hover {
  background-color: #5e00ff;
  transition: 0.5s;
  color: #ffff;
}

/* END PROFILE CLIENT */

/* HELP */

#background-help {
  background: linear-gradient(to bottom left, #26007e, #070016);
  padding: 5% 0;
  text-align: center;
}

#image-help {
  max-width: 25vw;
}

.text-help {
  margin-top: 3%;
  color: #ffff;
  font-size: 2.5vw;
  text-align: center;
}

/* END HELP */

/* MEDIA QUERIES */

@media only screen and (max-width: 1100px) {
  #box-shopping-history {
    margin: 0 2%;
  }

  .grid-category {
    padding: 0;
  }

  #container-shopping-cart {
    margin: 0 2%;
  }
}

@media (max-width: 850px) {
  .card-profile {
    flex-direction: column;
    width: 100%;
    box-shadow: 0 0 35px 1px rgba(0, 0, 0, 0.2);
  }

  .card-profile>div {
    width: 100%;
    box-shadow: none;
  }

  .information-profile {
    padding-top: 0;
  }
}