/* GLOBAL */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Assistant", sans-serif;
}

/* HEADER MAIN INDEX */

.logo-header {
  padding-top: 7px;
  margin-left: 150px;
}

.main-index {
  background: #ffff;
  width: 100%;
  text-align: center;
  border-bottom: 1px black solid;
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  top: 0;
}

.main-index ul {
  list-style: none;
  overflow: hidden;
}

.main-index ul li {
  float: right;
  padding: 0;
}

.main-index ul li a {
  display: block;
  padding: 18px 48px;
  font-size: 18px;
  color: #26007e;
  text-decoration: none;
}

.main-index ul li a:hover {
  color: #5e00ff;
  text-decoration: underline;
}

/* BOX LOGIN INDEX */

#login-box-index {
  user-select: none;
  padding: 2% 0;
  background-color: #ffff;
  text-align: center;
  overflow: hidden;
  margin-top: 60px;
}

#login-box-index section {
  float: left;
  margin-left: 10%;
}

#login-image-index {
  max-height: 25vw;
  float: right;
  margin-right: 15%;
}

#first-index-text {
  font-size: 4vw;
  color: #5e00ff;
}

#second-index-text {
  font-size: 1.7vw;
}

/* BUTTON SIGNUP */

#btn-signup {
  border: 0;
  background-color: #26007e;
  border-radius: 2vw;
  height: 4.5vw;
  width: 15vw;
  margin-right: 0.5vw;
  font-size: 2vw;
  color: #ffff;
  font-weight: bold;
  cursor: pointer;
}

#btn-signup:hover {
  background-color: #5e00ff;
  transition: 0.5s;
}

/* BUTTON LOGIN */

#btn-login {
  border: 0.3vw #5e00ff solid;
  background-color: #ffff;
  border-radius: 2vw;
  height: 4.5vw;
  width: 15vw;
  margin-left: 0.5vw;
  font-size: 2vw;
  color: #5e00ff;
  font-weight: bold;
  cursor: pointer;
}

#btn-login:hover {
  background-color: #5e00ff;
  transition: 0.5s;
  color: #ffff;
}

/* BOX SIGNUP INDEX */

#signup-box-index {
  text-align: center;
  padding: 2% 0;
  user-select: none;
  overflow: hidden;
  background: linear-gradient(to bottom left, #26007e, #070016);
}

#signup-image-index {
  max-height: 22vw;
  float: left;
  margin-left: 25%;
}

#signup-box-index section {
  float: right;
  margin-right: 25%;
  padding-top: 6%;
}

#third-index-text {
  font-size: 2vw;
  color: #ffff;
}

/* BUTTON SIGNUP */

#btn-signup-second {
  border: 0;
  background-color: #ffff;
  border-radius: 1vw;
  height: 3vw;
  font-size: 1.5vw;
  color: #5e00ff;
  font-weight: bold;
  cursor: pointer;
  padding: 0 1vw;
}

#btn-signup-second:hover {
  background-color: #5e00ff;
  transition: 0.5s;
  color: #ffff;
}

/* FOOTER */

footer {
  background-color: black;
  text-align: center;
  padding: 30px 0;
}

footer a {
  font-size: 40px;
  padding: 0 7px;
  text-decoration: none;
  color: #ffff;
}

/* FIRST SECTION SINGUP CLIENT */

#signupclient-box {
  display: block;
  text-align: center;
  overflow: hidden;
  background-color: white;
  margin-top: 60px;
  padding: 3% 0;
}

#signupclient-box section {
  float: right;
  width: 47%;
}

#signupclient-title {
  font-size: 2.5vw;
  color: #5e00ff;
}

#image-signupclient {
  max-height: 28vw;
  float: left;
  margin-left: 10%;
  margin-top: 5%;
}

#signupclient-text {
  font-size: 1.3vw;
  font-weight: lighter;
  margin: 10px 0;
}

#signupclient-text a {
  text-decoration: none;
}

#signupclient-text a:hover {
  color: #5e00ff;
  transition: 1.5s;
  text-decoration: underline 1px #5e00ff solid;
}

/* FORMS */

.form{
  background: hsl(266, 100%, 97%);
  padding: 0 1.5vw;
  border-radius: 1vw;
  margin-bottom: 0.8vw;
  border: 0;
  box-sizing: border-box;
  font-size: 1.4vw;
  font-weight: lighter;
  outline: 0;
}

#form-signupclient {
  width: 27vw;
  height: 2.7vw;
}

#form-signupclient-n-document {
  margin-bottom: 0;
  width: 19.5vw;
  height: 2.7vw;
  margin-left: 0.5vw;
}

#only-numbers-text {
  color: #5e00ff;
  font-size: 0.8vw;
  user-select: none;
  margin-right: 3vw;
}

/* SELECT DOCUMENT */

#form-signupclient-t-document {
  height: 2.7vw;
  width: 7vw;
  margin-bottom: 0;
  appearance: none;
  cursor: pointer;
}

/* BUTTON SIGNUP CLIENT */

#signupclient-btn {
  border: 0;
  background-color: #5e00ff;
  border-radius: 1vw;
  height: 3.3vw;
  width: 27vw;
  font-size: 1.4vw;
  color: #ffff;
  font-weight: bold;
  cursor: pointer;
}

#signupclient-btn:hover {
  background-color: #26007e;
  transition: 0.5s;
  color: #ffff;
}
