/* SCROLL */
::-webkit-scrollbar
  -webkit-appearance: none

::-webkit-scrollbar:vertical
  inline-size: 8px

::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button
  display: none

::-webkit-scrollbar:horizontal
  block-size: 10px

::-webkit-scrollbar-thumb
  background-color: $dark-purple
  border-radius: 20px
  border: 1px solid $white

::-webkit-scrollbar-thumb:hover
  background-color: $dark-gray

::-webkit-scrollbar-track
  border-radius: 10px
/* END SCROLL */

/* INPUT NUMBER OFF */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button
  -webkit-appearance: none
  margin: 0

input[type="number"]
  -moz-appearance: textfield
/* END INPUT NUMBER OFF*/

*
    margin: 0
    box-sizing: border-box
    font-family: 'DM Sans', sans-serif

html
    font-size: 10px

.material-icons-outlined
    vertical-align: middle
    font-size: 10px
    user-select: none

.title-page
  margin-block-start: 4px
  position: absolute
  inline-size: 100%
  font-size: 2rem
  font-weight: bold
  text-align: center
