// Colors
$white: #FFFFFF
$black: #000000
$custom-black: #151418
$purple: #782BFF
$dark-purple: #5c23bd
$transparent-purple: #792bffee
$soft-purple: #F6F0FF
$gradient-purple: linear-gradient(207.8deg, #1E1C20 16.69%, #782BFF 100%)
$gradient-purple-light: radial-gradient(circle, #ffffff, #fbfaff, #f8f6ff, #f5f1ff, #f2ecff, #f0e8ff, #ede3ff, #ebdfff, #e8dbff, #e6d6ff, #e3d2ff, #e1cdff)
$gray: #F6F6F6
$dark-gray: #D4D4D4
$text-gray: #4F4F4F
$transparent-gray: #d4d4d4f0
$soft-red: #FFD6DA
$error-red: #ff7171
$red: #d31225
$dark-red: #9d0303
$transparent-red: #bb0000ef
$blue: #26A4FF
$dark-blue: #0076cb
$orange: #FF6600
$soft-green: #D7FFE5
$green: #1CCC5B
$dark-green: #189b46
$bg-icons: #00040019
$bg-white-t: #ffffff13
$shadow: 0px 1px 8px rgba(33, 13, 5, 0.13)
$shadow-header: 0px 1px 8px rgba(33, 13, 5, 0.13)
$strong-shadow: 0 9px 32px -1px rgba(0, 0, 0, 0.5)
