.help-page
	@include flex-center
	flex-direction: column
	min-block-size: 100vh
	text-align: center
	background: $gradient-purple
	background-size: 500%
	animation: bganimation 10s infinite
	&__img-logo-container
		max-inline-size: 310px
		user-select: none
		img
			inline-size: 100%
	&__text-container
		margin: 0 auto
		padding: 50px 0
		inline-size: 95%
		max-inline-size: 600px
		font-size: 3rem
		text-align: center
		line-height: 4rem
		color: $white
	&__mail
		text-decoration: none
		color: $white
		&:hover
			text-decoration: underline
			color: $soft-purple
	&__img-help-container
		margin: 0 auto 40px
		max-inline-size: 208px
		user-select: none
		img
			inline-size: 100%
			border-radius: 500px
