.signup
  @include flex-center
  margin: 58px auto 0
  padding: 0 20px
  max-inline-size: 1250px
  &__img-container
    inline-size: 55%
    img
      inline-size: 100%
      max-inline-size: 655px
      user-select: none
  &__form-container
    display: flex
    justify-content: flex-end
    inline-size: 45%
    padding: 4rem

.signup-form
  max-inline-size: 470px
  &__title
    margin: 0 0 1rem
    font-size: 4rem
    text-align: center
    color: $purple
  &__input
    @include input-form
    &--select
      inline-size: 25%
      margin-block-end: 3px
      appearance: none
    &--short
      inline-size: 71%
      margin-inline-start: 3%
      margin-block-end: 3px
  &__only-numbers
    margin-inline-start: 33%
    font-size: 1.3rem
    color: $purple
  &__btn
    @include btn-input
    margin: 15px 0
  &__redirection
    font-size: 2rem
    text-align: center
    a
      color: $purple
      &:hover
        text-decoration: none
        color: $dark-purple
