/* GLOBAL */
::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  
  ::-webkit-scrollbar:vertical {
    width: 10px;
  }
  
  ::-webkit-scrollbar-button:increment,
  .contenedor::-webkit-scrollbar-button {
    display: none;
  }
  
  ::-webkit-scrollbar:horizontal {
    height: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #26007e;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #3f3f3f;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type="number"] {
    -moz-appearance: textfield;
  }
  
  * {
    padding: 0;
    margin: 0;
    font-family: "Assistant", sans-serif;
    box-sizing: border-box;
  }
  
  .replacement-header {
    width: 100%;
    height: 60px;
  }
  
  /* END GLOBAL */
  







  
  /* HEADER MAIN INDEX */
  
  .logo-header {
    padding-top: 10px;
    margin-left: 10px;
  }
  
  .main-index {
    background: #ffff;
    width: 100%;
    position: absolute;
    z-index: 10;
    text-align: center;
    border-bottom: 1px black solid;
    position: fixed;
    user-select: none;
    width: 100%;
    top: 0;
  }
  
  .main-index ul {
    list-style: none;
    overflow: hidden;
  }
  
  .main-index ul li {
    float: right;
    padding: 0;
  }
  

  

  
  
  
/* BOX LOGIN INDEX */

#first-index-text {
  font-size: 5vw;
  color: #ffffff;
}

#second-index-text {
  font-size: 1.7vw;
}






  /* BOX SIGNUP INDEX */
  
  #signup-box-index {
    text-align: center;
    padding: 5% 0;
    user-select: none;
    overflow: hidden;
    
  }
  
  #signup-image-index {
    height: 400px;
    left: px;
  float: left;
    margin-left: 18%;
  }
  #signup-box-index section {
    float: right;
    margin-right: 25%;
    padding-top: 7%;
  }

  

  









  
  /* FOOTER */
  
  footer {
    background-color: black;
    text-align: center;
    padding: 2vw 0;
    min-height: px;
  }
  
  footer a {
    font-size: 35px;
    padding: 0 7px;
    text-decoration: none;
    color: #ffff;
  }
  
  .down-footer {
    min-height: 900px;
  }
  
  /* END FOOTER */
  


/* BOX SIGNUP INDEX */

#signup-box-index {
  text-align: center;
  padding: 5% 0;
  user-select: none;
  overflow: hidden;
  background: linear-gradient(to bottom left, #6c24e7, #2b0a79);
}



#signup-box-index section {
  float: right;
  margin-right: 5%;
  padding-top: 7%;
}



/* BUTTON SIGNUP */

#btn-signup-second {
  text-decoration: none;
  background-color: #ffff;
  padding: 0.6vw 1.2vw;
  border-radius: 1vw;
  font-size: 1.5vw;
  color: #5e00ff;
  font-weight: bold;
  cursor: pointer;
}

#btn-signup-second:hover {
  background-color: #5e00ff;
  transition: 0.5s;
  color: #ffff;
}

/* END BOX SIGNUP INDEX */












  /* BOX SIGNUP CLIENT */
  
  #signupclient-box {
    display: block;
    text-align: center;

    margin-top: 60px;
    padding: 3% 0;
  }
  
  #signupclient-box section {
    float: right;
    width: 47%;
  }
  
  .signupclient-title {
    font-size: 2.5vw;
    color: #5e00ff;
  }
  
  #image-signupclient {
    max-height: 28vw;
    float: left;
    margin-left: 10%;
    margin-top: 5%;
    user-select: none;
  }
  
  #signupclient-text {
    font-size: 1.3vw;
    font-weight: lighter;
    margin: 10px 0;
  }
  
  #signupclient-text a {
    text-decoration: none;
  }
  
  #signupclient-text a:hover {
    color: #5e00ff;
    text-decoration: underline 1px #5e00ff solid;
  }
  
  /* FORMS */
  

  
  




  
  /* MEDIA QUERIES */
  
  /* SHOPPING HISTORY */
  
  @media only screen and (max-width: 1100px) {
    #box-shopping-history {
      margin: 0 2%;
    }
  
    .grid-category {
      padding: 0;
    }
  }