<section class="error-page">
	<figure class="error-img-container">
		<img src="/assets/img/isologo-white-og.png" alt="Logo de la página de error">
	</figure>
	<div class="error-text-container">
		<p class="error__text">Error</p>
		<p class="error__text" style="font-size: 6rem;">404</p>
		<p class="error__text">Página no encontrada</p>
		<a class="error__redirection" href="/"><i class="bi bi-arrow-bar-left"></i> Volver al inicio</a>
	</div>
</section>
