<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#782BFF" />
		<meta
			name="description"
			content="La tienda online más segura y confiable para realizar tus compras"
		/>
		<link
			rel="shortcut icon"
			href="/assets/img/favicon.png"
			type="image/x-icon"
		/>
		<link rel="stylesheet" href="/css/styles.css" />
		<title> {{title}} </title>
	</head>

	<body>
		{{>loader}}
		{{>messages}}
		{{>header}}
		<main>
			{{{body}}}
		</main>
		{{>footer}}

		<script src="/js/bundle.js"></script>

	</body>
</html>
