<section class="error-page">
	<figure class="error-img-container">
		<img src="assets/img/isologo-white-og.png" alt="Logo de la página de error">
	</figure>
	<div class="error-text-container">
		<p class="error__text">Woops! Esto no está bien...</p>
		<p class="error__text">Lo solucionaremos dentro de poco <i class="bi bi-emoji-frown-fill"></i></p>
		<a class="error__redirection" href="/"><i class="bi bi-arrow-bar-left"></i> Volver al inicio</a>
	</div>
</section>
