<section class="help-page">
	<figure class="help-page__img-logo-container">
		<img src="assets/img/isologo-white-og.png" alt="Logo de Danca Store" />
	</figure>
	<div class="help-page__text-container">
		<p>
			Si tienes <b>alguna duda o problema </b>env&iacuteanos un correo
			para brindarte ayuda.<br>
			<a href="mailto:soporte@dancastore.com" class="help-page__mail"
				><b><i>soporte@dancastore.com</i></b></a
			>
		</p>
	</div>
	<figure class="help-page__img-help-container">
		<img src="assets/img/help.jpg" alt="Imagen de la página de ayuda" />
	</figure>
</section>
