<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#782BFF" />
		<meta
			name="description"
			content="Empieza a comprar, tenemos envíos gratis"
		/>
		<link
			rel="shortcut icon"
			href="assets/img/favicon.png"
			type="image/x-icon"
		/>
		<link rel="stylesheet" href="css/styles.css" />
		<title>Actualizar perfil | Danca Store</title>
	</head>

	<body>
		<header class="header">
			<div class="header__limit">
				<section class="header__icon-menu">
					<label for="header__btn-menu"
						><i class="bi bi-list header__icon"></i></label>
				</section>
				<figure class="header__container-isologo">
					<a href="home.html"
						><img src="assets/img/isologo-black.png" alt="Isologo del header"
					/></a>
				</figure>
				<section class="header__icons-right">
					<a href="shopping-cart.html" class="header__a"
						><i class="bi bi-cart3 header__icon"></i></a
					>
					<a href="profile.html" class="header__a"
						><i class="bi bi-person header__icon"></i></a
					>
				</section>
			</div>
		</header>

		<main>
			<!-- LATERAL MENU -->
			<input type="checkbox" id="header__btn-menu" />
			<section class="lateral-menu">
				<label for="header__btn-menu"
					><i class="bi bi-x-lg lateral-menu__icon-close"></i></label
				>
				<img
					src="assets/img/isologo-black.png"
					alt="Isologo del menú"
					class="lateral-menu__isologo"
				/>
				<ul class="lateral-menu__ul">
					<li>
						<a href="home.html" class="lateral-menu__a"
							><i class="bi bi-house-door lateral-menu__icon"></i>
							INICIO</a
						>
					</li>
					<li>
						<a href="computers.html" class="lateral-menu__a"
							><i class="bi bi-laptop lateral-menu__icon"></i>
							COMPUTADORES</a
						>
					</li>
					<li>
						<a href="phones.html" class="lateral-menu__a"
							><i class="bi bi-phone lateral-menu__icon"></i>
							CELULARES</a
						>
					</li>
					<li>
						<a href="shopping-cart.html" class="lateral-menu__a"
							><i class="bi bi-cart3 lateral-menu__icon"></i>
							CARRITO DE COMPRAS</a
						>
					</li>
					<li>
						<a href="shopping-history.html" class="lateral-menu__a"
							><i class="bi bi-clock-history lateral-menu__icon"></i>
							HISTORIAL DE COMPRAS</a
						>
					</li>
					<li>
						<a href="profile.html" class="lateral-menu__a"
							><i class="bi bi-person lateral-menu__icon"></i>
							MI PERFIL</a
						>
					</li>
					<li>
						<a href="help.html" class="lateral-menu__a" target="_blank"
							><i class="bi bi-question-circle lateral-menu__icon"></i>
							AYUDA</a
						>
					</li>
					<li>
						<a href="index.html" class="lateral-menu__a"
							><i class="bi bi-door-open lateral-menu__icon"></i>
							CERRAR SESIÓN</a
						>
					</li>
				</ul>
			</section>
			<!-- END LATERAL MENU -->

			<section class="update-profile">
				<div class="update-profile-form">
					<h1 class="update-profile__title">
						Actualizar informaci&oacuten
					</h1>
					<button class="update-profile-form__btn-image">
						<i class="bi bi-pencil update-profile-form__btn-image-icon"></i>Cambiar imagen
					</button>
					<form action="">
						<input
							class="update-profile-form__input"
							type="text"
							name="name"
							placeholder="Nombre"
							autocomplete="name"
						/>
						<input
							class="update-profile-form__input"
							type="text"
							name="last-name"
							placeholder="Apellido"
							autocomplete="additional-name"
						/>
						<input
							class="update-profile-form__input"
							type="email"
							name="email"
							placeholder="Email"
							autocomplete="email"
						/>
						<input
							class="update-profile-form__input"
							type="number"
							name="phone"
							placeholder="Teléfono"
							maxlength="14"
							autocomplete="mobile"
						/>
						<input
							class="update-profile-form__input"
							type="text"
							name="town"
							placeholder="Ciudad"
							autocomplete="country-name"
						/>
						<input
							class="update-profile-form__input"
							type="text"
							name="address"
							placeholder="Dirección (Casa, apartamento, etc...)"
							autocomplete="street-address"
						/>
						<input
							class="update-profile-form__input"
							type="password"
							name="password"
							placeholder="Contraseña"
							autocomplete="current-password"
						/>

						<input
							class="update-profile-form__confirm-password"
							type="password"
							name="confirm-password"
							placeholder="Confirmar contraseña"
							autocomplete="current-password"
							required
						/>
						<input
							class="update-profile-form__btn-save"
							type="submit"
							value="Guardar cambios"
						/>
						<a href="profile.html" class="update-profile-form__redirection"
							>Volver a mi perfil</a
						>
					</form>
				</div>
			</section>
		</main>

		<footer class="footer">
			<section class="footer__left">
				<ul class="footer__list-networks">
					<li>
						<a href="#" class="footer__a"
							><i class="bi bi-instagram"></i> Instagram</a
						>
					</li>
					<li>
						<a href="#" class="footer__a"
							><i class="bi bi-twitter"></i> Twitter</a
						>
					</li>
					<li>
						<a href="#" class="footer__a"
							><i class="bi bi-linkedin"></i> Linkedin</a
						>
					</li>
				</ul>
			</section>
			<section class="footer__right">
				<a href="home.html"
					><img src="assets/img/isologo-white.png" alt="Isologo del footer"
				/></a>
			</section>
		</footer>
	</body>
</html>
