.message-container
	@include flex-center (center, flex-end)
	position: fixed
	inset-block-start: 0
	inset-inline-start: calc( 50% - 20% )
	inline-size: 40%
	block-size: 120px
	text-align: center
	transition: all 0.3s ease
	z-index: 8


.message
	position: relative
	padding: 15px
	max-block-size: 53px
	@include font(bold, 1.6rem, normal, $white)
	border-radius: 15px
	box-shadow: $shadow-header
	user-select: none
	z-index: 9
	&--succesfully
		background-color: $transparent-purple
		&-icon
			position: absolute
			inset-block-start: -20px
			inset-inline-start: calc( 50% - 12.5px )
			font-size: 2.5rem
			color: $transparent-purple
	&--error
		background-color: $transparent-red
		&-icon
			position: absolute
			inset-block-start: -20px
			inset-inline-start: calc( 50% - 12.5px )
			font-size: 2.5rem
			color: $transparent-red

.message-signin
	text-align: center
	font-size: 1.8rem
	color: $error-red
